<template>
	<div class="card">
		<div class="card-header">Profile</div>
		<div class="card-body">
			<form role="form">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label" for="firstName">First name:</label>
					<div class="col-sm-9">
						<input type="text" id="firstName" placeholder="First name" class="form-control" value.bind="contact.firstName">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Last name:</label>
					<div class="col-sm-9">
						<input type="text" placeholder="Last name" class="form-control" value.bind="contact.lastName">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Email:</label>
					<div class="col-sm-9">
						<input type="email" placeholder="Email" class="form-control" value.bind="contact.email">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Phone number:</label>
					<div class="col-sm-9">
						<input type="email" placeholder="Phone number" class="form-control" value.bind="contact.phoneNumber">
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="button-bar">
		<button class="btn btn-success" click.delegate="save()" disabled.bind="!canSave">Save</button>
	</div>
</template>
